
// $main_color: #31708E;
// $hover_color: #659DBD;
$main_color: #FF5301;
$hover_color: #ec782b;
$sub_color: #5aa495;
$black_color: #050B20;

$gray_bg_color:#F7F7F7;
$gray_bg_color_y:#FCFCF3;
$gray_border_color:#E4E6E8;

$main_transition: all .5s ease;

$main_fonts:'Lato', sans-serif;

$border_rad: 10px;

$section_space: 20px;
$conteiner_max_w: 1280px;

$box_shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
$box_padding: 1.25rem;
$box_border_rad: 6px;
