@import "vars";
@import "null";
@import "fonts";
@import "scroll";
@import "text-styles";
@import "pagination";
@import "standart";
@import "form/all-form";
@import "elements/all-elements";


body{
    font-family: $main_fonts;
    font-size: 16px;
}

img {
    width:100%;
    height:100%;
    object-fit: cover;
}
h2,h3,h4 {
    font-family: 'Play';
}

h2 {
    font-size: 28px;
}

.logo {
    img {
        object-fit: contain;
    }
}

header,
footer,
section{
    width: 100%;
    padding-top: $section_space;
    padding-bottom: $section_space;
}

.container{
    width:100%;
    max-width: $conteiner_max_w;
    margin: 0 auto;
}

h1 {
    font-size: 46px;
    margin-top: 0;
    font-weight: bold;
    font-family: 'Play';
    span {
        font-size: 52px;
    }
}

.download_btn {
    border: 1px solid $gray_border_color;
    padding: 10px 80px 10px 30px;
    border-radius: 50px;
    display: inline-block;
    font-size: 14px;
    span{
        text-align: left;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            width:45px;
            height:45px;
            border-radius: 55px;
            background-color: $main_color;
            top: -6px;
            right: -74px;
            background-image: url(../img/icon/download.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 60%;
        }
    }

    &:hover {
        span::after {
            content: "";
            background-color: $hover_color;
        }
    }


}

.central_section {
    text-align: center;
}

.in_tur {
    .container{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}

.orange{
    color: $main_color;
}


@media (max-width:1280px) {
    .container{
        width:96%;
        margin: 0 2%;
    }
}

@media (max-width:1024px) {
    h1{
        font-size: 38px
    }
    h2 {
        font-size: 24px;
    }
}

@media (max-width:1024px) {
    h1{
        font-size: 28px;
        span{
            font-size: 32px;
        }
    }
    h2 {
        font-size: 20px;
    }
}

@import "header";
@import "menues";
@import "banner";
@import "about";
@import "persons";
@import "locations";
@import "program";
@import "contacts";
@import "footer";
